<section>
  <div class="w-full relative flex justify-center">
    <div class="absolute inset-0 w-1/2 h-full bg-no-repeat bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1552422535-c45813c61732?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">

    </div>
    <div class="container h-6/10-screen flex justify-center">
      <div class="w-1/2"></div>
      <div class="w-1/2 h-full px-10 flex flex-col justify-center items-start">
        <h2 class="text-6xl">Hello Everyone</h2>
        <p class="font-black">15 / Aug / 2019</p>
        <p class="mt-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
    </div>
  </div>
</section>
