<section>
  <div class="w-full h-screen bg-gray-800 flex justify-center items-center bg-center bg-cover bg-no-repaeat bg-fixed" style="background-image: linear-gradient(to bottom right, rgba(31, 31, 31, 0.8), rgba(37, 37, 37, 0.8)),url('{{ entry.homeHeroBackgroundImage.one().url }}')">
    <div class="container flex flex-wrap px-10 lg:px-0">
      <div class="w-full md:w-1/2 text-white flex flex-col items-center md:items-start justify-start pr-0 md:pr-5">
        <h2 class="text-6xl">{{ entry.homeMainTitle }}</h2>
        <div class="px-10 py-5 border border-white border-solid mt-5 mb-5 md:mb-0">
          <p>More About Me</p>
        </div>
      </div>
      <div class="w-full md:w-1/2 text-white flex flex-col items-center md:items-start justify-center text-center md:text-left pl-0 md:pl-5">
        {{ entry.homeHeroDescription|nl2br }}
      </div>
    </div>
  </div>
</section>
