<section>
  <div class="w-full bg-yellow-primary flex justify-center">
    <div class="container flex my-20">
      <div class="w-1/3">
        <div class="w-full pr-10 mt-10">
          <h2 class="text-4xl text-black">My Latest Work</h2>
          <p class="mt-5 text-justify">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p class="mt-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
      </div>
      <div class="w-2/3">
        <div class="w-full flex flex-wrap">
          <div class="w-1/2 pl-10 mt-10">
            <div class="w-full h-56 bg-yellow-600">

            </div>
            <div class="w-full h-64 bg-yellow-700">

            </div>
          </div>
          <div class="w-1/2 pl-10 mt-10">
            <div class="w-full h-56 bg-yellow-600">

            </div>
            <div class="w-full h-64 bg-yellow-700">

            </div>
          </div>
          <div class="w-1/2 pl-10 mt-10">
            <div class="w-full h-56 bg-yellow-600">

            </div>
            <div class="w-full h-64 bg-yellow-700">

            </div>
          </div>
          <div class="w-1/2 pl-10 mt-10">
            <div class="w-full h-56 bg-yellow-600">

            </div>
            <div class="w-full h-64 bg-yellow-700">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
