<section>
  <div class="w-full bg-gray-primary flex justify-center items-center">
    <div class="container flex justify-center my-20">
      <div class="swiper-container w-full">
        <div class="swiper-wrapper">
          <div class="swiper-slide flex flex-col justify-center items-center">
            <div class="w-40 h-40 bg-blue-100 mb-20">

            </div>
            <div class="w-10/12 h-64 mb-10 bg-blue-100">

            </div>
          </div>
          <div class="swiper-slide flex flex-col justify-center items-center">
            <div class="w-40 h-40 bg-blue-100 mb-20">

            </div>
            <div class="w-10/12 h-64 mb-10 bg-blue-100">

            </div>
          </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next" style="--swiper-theme-color: #ffd700;"></div>
        <div class="swiper-button-prev" style="--swiper-theme-color: #ffd700;"></div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>

      <!-- Initialize Swiper -->
      <script>
        var swiper = new Swiper('.swiper-container', {
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          pagination: {
            el: '.swiper-pagination',
            dynamicBullets: true,
          },
        });
      </script>
    </div>
  </div>
</section>
