<section>
  <div class="w-full bg-white flex justify-center mt-24">
    <div class="container flex justify-center items-center py-3 text-gray-primary text-xs">
      <p>HOME</p>
      <p class="mx-2">></p>
      <p>PROJECTS</p>
      <p class="mx-2">></p>
      <p>SINGLE PROJECT</p>
    </div>
  </div>
</section>
