<footer>
  <div class="w-full flex justify-center items-center border-t border-solid" style="background-image: linear-gradient(to bottom right, #1F1F1F , #3E3D3D); border-color: #343434;">
    <div class="container flex my-20">
      <div class="w-1/2">
        <div class="w-full flex">
          <h2 class="text-6xl text-white mb-2">Site&nbsp;</h2><h2 class="text-6xl text-yellow-primary mb-2">N</h2><h2 class="text-6xl text-white mb-2">ame</h2>
        </div>
        <div class="w-full">
          <p class="text-white">Here is a site sub-title...</p>
        </div>
      </div>
      <div class="w-1/2 flex flex-col">
        <div class="w-full flex items-center mt-5">
          <div class="w-10 h-10 bg-gray-primary">

          </div>
          <p class="ml-5 text-white">04 0000 0000</p>
        </div>
        <div class="w-full flex items-center mt-5">
          <div class="w-10 h-10 bg-gray-primary">

          </div>
          <p class="ml-5 text-white">naomi@improfessional.com.au</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full flex justify-center items-center bg-gray-primary">
    <p class="text-gray-100 text-sm my-5">© Copyright 2016 - 2019 | All Rights Reserved | By Ter2yzzZ</p>
  </div>
</footer>
