<header class="absolute inset-0 w-full flex justify-center">
  <div class="container bg-blue-800 h-24 flex justify-between">
    <div class="h-full bg-blue-400 w-64">

    </div>
    <div class="bg-blue-400 flex items-center text-white">
      <a href="#" class="px-10">
        <p>HOME</p>
      </a>
      <a href="#" class="px-10">
        <p>PROJECTS</p>
      </a>
      <a href="#" class="pl-10">
        <p>BLOGS</p>
      </a>
    </div>
  </div>
</header>
