{% import "_layouts/_macros" as macros %}

<style media="screen">
  .headroom {
    will-change: transform;
    transition: all 100ms linear;
  }
  .headroom--pinned {
    transform: translateY(0%);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    background-color: #1f1f1f;
  }
  .headroom--unpinned {
    transform: translateY(-100%);
    background-color: #1f1f1f;
  }
  .headroom--top {
    box-shadow: none;
    background-color: transparent;
  }
</style>

<header id="header" class="fixed h-24 inset-0 w-full flex justify-center z-50">
  <div class="container h-24 flex justify-between">
    <div class="h-full w-64 flex items-center uppercase">
      <h2 class="text-white mb-2 font-black">Site&nbsp;</h2><h2 class="text-yellow-primary mb-2 font-black">N</h2><h2 class="text-white mb-2 font-black">ame</h2>
    </div>
    <div class=" flex items-center text-white">
      <a href="/" class="px-10 trans trans-fast hover:text-yellow-primary {{ macros.is_active('') }}">
        <p>HOME</p>
      </a>
      <a href="/projects" class="px-10 trans trans-fast hover:text-yellow-primary {{ macros.is_active('projects') }}">
        <p>PROJECTS</p>
      </a>
      <a href="#" class="pl-10 trans trans-fast hover:text-yellow-primary {{ macros.is_active('blogs') }}">
        <p>BLOGS</p>
      </a>
    </div>
  </div>
</header>
<script type="text/javascript">
  $("#header").headroom({
    "classes": {
      "initial": "headroom",
      "pinned": "headroom--pinned",
      "unpinned": "headroom--unpinned",
      "top": "headroom--top",
    }
  });
</script>
