{% extends "_layouts/_base" %}

{% set title = siteName %}
{% set docTitle = 'Home | Piano Works'%}
{% set metaDescription = 'Template Meta Description Here' %}

{% block body %}

<div class="text-red-600">
  <h2>Hello World!</h2>
</div>

{% endblock %}
